body {
    font-style: italic;
    background-image: url('teddy.jpg');
    background-size: cover;
    color: white;
    text-align: center;
    padding: 20px;
}
header{
    font-style: oblique;
    color: brown;
    font-size: 70px;
    background-color: antiquewhite;
}
img {
 size: 100%;
 margin: 20px;
}

h1{
    color: darkred;
    font-size: 20px;
    background-color: antiquewhite;
}

p {
       color: brown;
       font-size: 20px;
}
a {
    color: brown;
    font-size: 20px;
    background-color: antiquewhite;
}
